* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

header {
    background-color: #1F2937;
   
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
}

li, a {
    text-decoration: none;
    text-align: center;
}

nav {
    display: flex;
    justify-content: flex-end;
}

.header-text, .nav-item {
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    flex-grow: 1;  /* This pushed the logo far left */
    margin-left: 15px;
    
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* text-decoration: none; */
}

.nav-item {
    /* text-decoration: none; Removes underline; */
    list-style-type: none;
    margin-right: 25px;
}

