* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

header {
    background: #1F2937;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
}

.header-text, .nav-item {
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

